# Golang
golang/bin
golang/pkg
*go.mod
*go.sum
*vendor/
golang/src/github.com/
golang/src/gopkg.in/
golang/src/gorobbs/
*.env

# Config
.DS_Store
*.idea
*db/
*.vscode

# Docker
docker-workspace/data
docker-workspace/log
docker-workspace/default.etcd

# Python
python/qxd
